body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    padding-bottom: 10px;
}
.head{
    color: brown;
}
.flexible-con{
   display: flex;
   padding: 10%;
   margin-bottom: 30px;
   
}
.half{
    width: 50%;
    padding-left: 2%;
}
.half img{
    
    height: 70%;
    width: 70%;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    border-radius: 20px;
    font-weight:700px;
    color: white
}
.first{
    background-image: url(images/Frame1.jpg);
    background-repeat: no-repeat;
}
.second{
    background-image: url(images/Frame2.png);
    background-repeat: no-repeat;
}
footer{
    background-color: black;
    color: white;
    text-align: center ;
    padding: 20px;
}
.third{
    text-align: center;
    padding-top: 2px;
}
.card{
    width: 30%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
   }

.pic img{
 width: 85%;
 padding: 20px;
}
.social-media{
 
    width:80%;
    margin:100px 80px;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
}
.social-media-review{
 
    width:30%;
    margin-left:90px;
    margin-right:45px;
    padding:10px;
}